@font-face {
    font-family: Mulish;
    src: url("font/Mulish-Black.ttf");
    }
.container{
    display: flex;
    background-color: #fff;
    flex: 1;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: #000 solid 2px;
    border-radius: 25px;
    padding: 4%;
}
.row{
    flex: 1;
}
select{
    background:none;
    border-radius: 25px;
}
